<div class="topcoat-grid lonely">
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--3">
      <img class="strict-image-100-100" src="<%= m.image() %>" alt="<%- m.get("name") %>">
    </div>
    <div class="topcoat-grid__column--9">
      <b class="pull-right price-big"><%= m.get("price") %></b>
    </div>
  </div>
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--auto">
      <h3><%- m.get("name") %></h3>
    </div>
  </div>
  <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--auto">
      <%- m.get("description") %>
    </div>
  </div>
</div>