<div class="topcoat-grid lonely">
  <div class="topcoat-grid__row off-bot-10">
    <div class="topcoat-grid__column--8">
      <strong><%- m.get("name") %></strong>
    </div>
    <div class="topcoat-grid__column--4 text-right">
      <strong><%= m.get("price") %></strong>
    </div>
  </div>
  <div class="topcoat-grid__row">
    <% if (m.get("image")) { %>
      <div class="topcoat-grid__column--2">
        <img class="strict-image-100-100" src="<%= m.get("image") %>" alt="<%- m.get("name") %>">
      </div>
      <div class="topcoat-grid__column--10">
        <%- m.get("description") %>
      </div>
    <% } else { %>
      <div class="topcoat-grid__column--auto">
        <%- m.get("description") %>
      </div>
    <% } %>
  </div>
</div>