<% if (data.collection.length) { %>

  <div class="topcoat-list">
    <ul class="topcoat-list__container">
      <h3 class="topcoat-list__header"></h3>
      <% _.each(data.collection.models, function(model) { %>
        <li class="topcoat-list__item">
          <button data-href="<%= model.localUrl() %>" class="topcoat-list__item__full-link">
            <div class="topcoat-grid">
              <div class="topcoat-grid__row off-bot-10">
                <div class="topcoat-grid__column--auto">
                  <%- _.str.prune(_.str.stripTags(model.get('content')), 200) %>
                </div>
              </div>
              <div class="topcoat-grid__row off-bot-10">
                <div class="topcoat-grid__column--auto">
                  <em>- <%- model.get('name') %></em>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </button>
        </li>
      <% }); %>
    </ul>
  </div>

<% } else { %>

  <div class="lonely center">
    <%_ No content %>
  </div>

<% } %>