<% if (data.collection.length) { %>

  <div class="topcoat-list">
    <ul class="topcoat-list__container">
      <h3 class="topcoat-list__header"></h3>
      <% _.each(data.collection.models, function(m) { %>
        <li class="topcoat-list__item">
          <button data-href="<%= m.localUrl() %>" class="topcoat-list__item__full-link">
            <div class="topcoat-grid">
              <div class="topcoat-grid__row off-bot-10">
                <div class="topcoat-grid__column--8">
                  <strong><%- m.get('name') %></strong>
                </div>
                <div class="topcoat-grid__column--4 text-right">
                  <strong><%= m.get('discount') %> %</strong>
                </div>
              </div>
              <div class="topcoat-grid__row">
                <% if (m.get('image')) { %>
                  <div class="topcoat-grid__column--3 image-column-100">
                    <img class="strict-image-100-100" src='<%= m.get("image") %>' alt='<%- m.get("name") %>'>
                  </div>
                  <div class="topcoat-grid__column--9">
                    <%- _.str.prune(_.str.stripTags(m.get('description')), 200) %>
                  </div>
                <% } else { %>
                  <div class="topcoat-grid__column--auto">
                    <%- _.str.prune(_.str.stripTags(m.get('description')), 200) %>
                  </div>
                <% } %>
              </div>
            </div>
            <div class="clear"></div>
          </button>
        </li>
      <% }); %>
    </ul>
  </div>

<% } else { %>

  <div class="lonely center">
    <%_ No content %>
  </div>

<% } %>