<% if (c.length) { %>

  <div class="topcoat-list">
    <ul class="topcoat-list__container">
      <h3 class="topcoat-list__header"></h3>
      <% _.each(c.models, function(m) { %>
        <li class="topcoat-list__item">
          <div style="width: 20%; float: left">
            <img src="<%= m.get("image") %>" alt="<%- m.get("name") %>">
          </div>
          <div style="width: 75%; float: left; padding: 0 0 0 5%;">
            <strong><%- m.get("name") %></strong>
            <b class="pull-right"><%= m.get("price") %></b>
            <p>
              <a href="<%= m.url() %>" class="inherit-styles">
                <%- _.str.prune(m.get("description"), 100) %>
              </a>
            </p>
          </div>
          <div class="clear"></div>
        </li>
      <% }); %>
    </ul>
  </div>

<% } else { %>

  <div class="lonely-content">
    No content
  </div>

<% } %>