<% if (c.length) { %>

  <div class="topcoat-list">
    <ul class="topcoat-list__container">
      <h3 class="topcoat-list__header"></h3>
      <% _.each(c.models, function(m) { %>
        <li class="topcoat-list__item">
          <a href="<%= m.url() %>" class="topcoat-list__item__full-link">
            <div class="topcoat-grid">
              <div class="topcoat-grid__row">
                <div class="topcoat-grid__column--3">
                  <img class="strict-image-100-100" src="<%= m.get("image") %>" alt="<%- m.get("name") %>">
                </div>
                <div class="topcoat-grid__column--9">
                  <strong><%- m.get("name") %></strong>
                  <b class="pull-right"><%= m.get("price") %></b>
                  <p>
                    <%- _.str.prune(m.get("description"), 100) %>
                  </p>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>

<% } else { %>

  <div class="lonely center">
    Здесь пока ничего нет
  </div>

<% } %>