<div class="topcoat-grid lonely">
  <div class="topcoat-grid__row off-bot-10">
    <div class="topcoat-grid__column--8">
      <strong><%- data.model.get('name') %></strong>
    </div>
    <div class="topcoat-grid__column--4 text-right">
      <strong><%= data.model.get('discount') %> %</strong>
    </div>
  </div>
  <div class="topcoat-grid__row">
    <% if (data.model.get('image')) { %>
      <div class="topcoat-grid__column--3 image-column-100">
        <img class="strict-image-100-100" src='<%= data.model.get("image") %>' alt='<%- data.model.get("name") %>'>
      </div>
      <div class="topcoat-grid__column--9">
        <%= data.model.get('description') %>
      </div>
    <% } else { %>
      <div class="topcoat-grid__column--auto">
        <%= data.model.get('description') %>
      </div>
    <% } %>
  </div>
</div>