<div class="topcoat-grid lonely">

  <% if (data.settings.isBookingAvailable()) { %>

    <div class="form"></div>
    
    <hr>

    <div class="topcoat-grid__row off-bot-10">
      <div class="topcoat-grid__column--auto">
        <button class="topcoat-button--cta topcoat-button--media book"><%_ Book now %></button>    
        <div class="topcoat-spinner booking-spinner" style="display: none;"></div>
      </div>
    </div>

  <% } else { %>

    <div class="center">
      <%_ No content %>
    </div>

  <% } %>

</div>