<% if (c.length) { %>

  
  <div class="topcoat-list">
    <ul class="topcoat-list__container">
      <h3 class="topcoat-list__header">Электронная почта</h3>
      <% var emails = _.filter(c.models, function(m) { return m.get("type") === "email" }); %>
      <% if (emails.length) { %>
        <% _.each(emails, function(m) { %>
          <li class="topcoat-list__item">
            <span><%- m.get("value") %></span>
          </li>
        <% }); %>
      <% } %>
      
      <h3 class="topcoat-list__header">Контакные телефоны</h3>
      <% var phones = _.filter(c.models, function(m) { return m.get("type") === "phone" }); %>
      <% if (phones.length) { %>
        <% _.each(phones, function(m) { %>
          <li class="topcoat-list__item">
            <span><%- m.get("value") %></span>
          </li>
        <% }); %>    
      <% } %>
    </ul>
  </div>

<% } else { %>

  <div class="lonely center">
    Здесб пока ничего нет
  </div>

<% } %>