<% if (data.collection.length) { %>

  <div class="topcoat-grid">
    <div class="topcoat-grid__row">
      <div class="topcoat-grid__row__column--auto full center spinner lonely">
        <div class="off-bot-10"><%_ Loading map ... %></div>
        <div class="topcoat-spinner"></div>

        <div class="off-bot-10"></div>
        <button data-href="contacts/list" class="topcoat-button topcoat-button--media">
          <%_ Tap here %>
          <br>
          <%_ if map is not loading %>
        </button>

      </div>
      <div class="topcoat-grid__row__column--auto">

        <div class="contact-map"></div>

      </div>
    </div>
  </div>

<% } else { %>

  <div class="lonely center">
    <%_ No content %>
  </div>

<% } %>