<div class="topcoat-grid lonely">
  <div class="topcoat-grid__row off-bot-10">
    <div class="topcoat-grid__column--auto">
      <strong><%_ Address %>:</strong>
      <div class="off-bot-10"></div>
      <%- data.model.get('address') %>
    </div>
  </div>
  <div class="topcoat-grid__row off-bot-10">
    <div class="topcoat-grid__column--auto">
      <strong class="off-bot-10"><%_ Coordinates (lat, lng) %>:</strong>
      <div class="off-bot-10"></div>
      <%- data.model.parsedCoords().join(', ') %>
    </div>
  </div>
  <% if (_.size(data.model.parsedPhones()) > 0) { %>
    <div class="topcoat-grid__row">
      <div class="topcoat-grid__column--auto">
        <strong><%_ Phones (tap to call) %>:</strong>
        <ul>
          <% _.each(data.model.parsedPhones(), function(phone, phoneDigitsOnly) { %>
            <li>
              <span class="click-to-call" data-phone="<%- phoneDigitsOnly %>">
                <%- phone %>
              </span>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% } %>
  <% if (data.model.get('emails').length > 0) { %>
    <div class="topcoat-grid__row">
      <div class="topcoat-grid__column--auto">
        <strong><%_ Emails %>:</strong>
        <ul>
          <% _.each(data.model.get('emails'), function(email) { %>
            <li><%- email %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% } %>
</div>