<div class="menu">
  <% if (_.size(m.get('items'))) { %>
    <ul class="menu__list">
      <% _.each(m.get('items'), function(title, alias) { %>
          <li class="menu__list__item">
            <button data-href="<%- alias %>" data-menu-item="<%- alias %>" class="menu__list__item__link topcoat-button">
              <%- title %>
            </button>
          </li>
      <% }); %>
    </ul>
  <% } else { %>
    <div class="lonely center">
      <span class="topcoat-notification">
        <%_ No widgets installed %>
      </span>
    </div>
  <% } %>
</div>