<% if (data.model.get('visible')) { %>
  <div class="topcoat-overlay-bg">
    <aside class="topcoat-overlay">
        <% if (data.model.get('error')) { %>
          <span class="topcoat-notification">
            <%- data.model.get('title') %>
          </span>
        <% } %>
        <p>
          <%= data.model.get('message') %>
        </p>
        <% if (data.model.get('spinner')) { %>
          <div class="topcoat-spinner"></div>
        <% } %>
        <% if (data.model.get('button')) { %>
          <% if (data.model.get('button') === 'retry') { %>
            <button class="topcoat-icon-button overlay-button-retry">
              <span class="topcoat-icon icomatic">refresh</span>
              <%_ Retry %>
            </button>
          <% } else if(data.model.get('button') === 'sync') { %>
            <button class="topcoat-icon-button overlay-button-sync">
              <span class="topcoat-icon icomatic">refresh</span>
              <%_ Sync %>
            </button>
          <% } else if(data.model.get('button') === 'ok') { %>
            <button class="topcoat-icon-button overlay-button-ok">
              <span class="topcoat-icon icomatic">checkmark</span>
              <%_ Ok %>
            </button>
          <% } %>
        <% } %>
        <% if (data.model.get('cancel') === true) { %>
          <button class="topcoat-icon-button overlay-button-cancel">
            <span class="topcoat-icon icomatic">cancel</span>
          </button>
        <% } %>
    </aside>
  </div>
<% } %>